.segment {
  margin: 5em 0em 0em !important;
  padding: 3em 2em !important;
}

.container {
  display: flex !important;
}

.left_div {
  flex: 0.6;
}

.row {
  display: flex;
  flex: 0.65;
}

.row_h3 {
  flex: 0.4;
  margin-right: 30px;
  text-align: "left";
}

.right_div {
  flex: 0.4;
  text-align: center;
}
